body {
    font-family: calibri;
    /*background-image: url('img3.jpg');*/
    background-color: #fff;
}

.title {
    color: #2B0716;
    text-align: center;
}

#new-item {
    text-align: right;
}

#new-item a {
    color: black;
    /*text-decoration: none;*/
    font-size: 16px;
    margin-right: 50px;
}

#card-area {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.item-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 black;
    border-top: 10px solid #2B0716;
    transition: 0.3s;
    width: 300px;
    min-height: 200px;
    background-color: #E80D2B;
    color: #fff;
    margin: 20px;
    padding: 5px;
    text-align: center;
    position: relative;
}

.item-card:hover {
    /* shadow display on mouse-over */
    box-shadow: 0 8px 16px 0 black;
}

#card-area a {
    text-decoration: none;
    color: white;
}

.item-card-bottom {
    padding: 2px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.item-card-bottom a {
    color: white;
    font-size: 12px;
}

#menu-name,
#restaurant-name {
    font-size: 20px;
}

#menu-price,
#menu-course {
    font-size: 13px;
}

h2,
p {
    color: #fff;
}

h1,
h2 {
    font-family: 'georgia', serif;
    margin: 0;
}


/*a {
    text-decoration: none;
    color: #ffffcc;
    font-size: .75em;
}

.pane {
    position: absolute;
    left: 25%;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    border-color: #999999;
    background-color: #333333
}*/

.flash {
    background: #cee5f5;
}