<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=menu_to_edit.id)}}" method="POST">

        <p>Name:</p>
        <input type="text" size="30" name="menuName" placeholder="{{menu_to_edit.name}}">

        <p>Course:</p>
        <fieldset id="course">
            <input type="radio" value="Appetizer" name="menuCourse">Appetizer
            <input type="radio" value="Entree" name="menuCourse">Entree
            <input type="radio" value="Dessert" name="menuCourse">Dessert
            <input type="radio" value="Beverage" name="menuCourse">Beverage
        </fieldset>

        <p>Description:</p>
        <input type="text" size="30" name="menuDescription" placeholder="{{menu_to_edit.description}}">

        <p>Price:</p>
        <input type="text" size="8" name="menuPrice" placeholder="{{menu_to_edit.price}}">

        <input type="submit" value="Save">
    </form>
    <a href="{{url_for('showMenu', restaurant_id=restaurant_id, menu_id=menu_id)}}">Cancel</a>
</body>

</html>