<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <h2 class="title">The Hottest Restaurants in town are: </h2>
    <div id="new-item">
        <a class="create-new" href="{{url_for('newRestaurant')}}">Create New Restaurant</a>
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <div id="card-area">
        {% for item in restaurants %}
        <div class="item-card">
            <h2>{{ item.name }}</h2>
            <div class="item-card-bottom">
                <a href="{{url_for('editRestaurant', restaurant_id=item.id)}}">Edit</a>
                <a href="{{url_for('deleteRestaurant', restaurant_id=item.id)}}">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>